.app {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: 50px auto 0 auto;
}

.container {
  display: flex;
  margin: 0 0 7.33em 0;
}

.container--no-flex {
  display: block;
}

.container-item {
  display: flex;
  flex-direction: column;
}

.container--no-margin {
  margin: 0;
}

.container-item--padding-left {
  padding-left: 2em;
}

.container-item--grow-1 {
  flex-grow: 1;
}

.logo {
  margin: 0 0 1em 0;
  width: 150px;
}

.subheadline {
  font-size: 16pt;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.25);
  font-weight: 400;
  width: 600px;
}

.paragraph {
  margin: 0 0 0.66em 0;
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.9)
}

.objects:nth-child(2n) {
  margin: 0 0 25px 0;
}

.objects-indicator {
  margin: 0 0 2.66em 0;
}

.objects-indicator-num {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: rgb(255, 255, 255);
  margin: 0 0.11em;
}

.objects-indicator-num--hazardous {
  background-color: #FF5A5A;
}

.objects-indicator-num--not-hazardous {
  background-color: #5AFFC1;
  color: rgb(0, 0, 0)
}

@media only screen and (max-width: 1400px) {
  body {
    margin: 1em;
  }

  .app {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .object {
    flex-direction: column;
    width: 100% !important;
  }

  .object-left {
    width: 100% !important;
  }

  .subheadline {
    margin: 0 0 1em 0;
    width: 100%;
    text-align: center;
  }

  .logo {
    align-self: center;
    margin: 0 0 2.33em 0;
  }
}