.object {
  display: flex;
  width: calc(50% - 25px);
  background-color: rgb(255, 255, 255);
  margin: 0 25px 25px 0;
  float: left;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.33em;
  overflow: hidden;
}

.object-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 25px;
  justify-content: center;
}

.object-hazard {
  position: absolute;
  top: 25px;
  display: flex;
}

.object-hazard-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.object-hazard--type-hazard .object-hazard-indicator {
  background-color: #5AFFC1;
}

.object-hazard--type-no-hazard .object-hazard-indicator {
  background-color: #FF5A5A;
}

.object-hazard-label {
  margin-left: 0.66em;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
}

.object-hazard--type-hazard .object-hazard-label {
  color: #5AFFC1;
}

.object-hazard--type-no-hazard .object-hazard-label {
  color: #FF5A5A;
}

.object-asteroid-representation {
  align-self: center;
  background: rgba(0, 0, 0, 0.7);
  background: radial-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.7));
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.object-right {
  flex-grow: 1;
  padding: 25px;
}

.object-headline {
  margin: 0 0 1.33em 0;
  padding: 0;
  font-size: 16pt;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.object-props {
  margin: 0 0 0.66em 0;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.04);
}

.object-props-col {
  font-size: 10pt;
  padding: 0 0 0.33em 0;
  color: rgba(0, 0, 0, 0.9);
}

.object-props-col-left {
  padding: 0 0.77em 0.33em 0;
  color: rgba(0, 0, 0, 0.3);
}

.object-subheadline {
  font-size: 10pt;
  margin: 0 0 0.66em 0;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  font-weight: 600;
}